<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 
      Configure Selenium grid settings http://www.seleniumhq.org/projects/grid/
    -->
    <add key="UseGrid" value="false" />
    <add key="GridUrl" value="http://hub.browserstack.com/wd/hub/" />
    <!--
      Choose on of the following drivers:
      InternetExplorer
      Chrome
      Firefox
    -->
    <add key="TestRailIndicator" value="false" />
    <add key="TestRailUrl" value="https://unity3d.testrail.net" />
    <add key="TestRailUsername" value="plokeshwar@rythmos.com" />
    <add key="TestRailPassword" value="Pravin1985!" />

    <add key="UseBrowserStack" value="false" />

    <add key="BrowserStackUrl" value="http://hub.browserstack.com/wd/hub/" />
    <add key="OS" value="Windows" />
    <add key="OS_Version" value="7" />
    <add key="BrowserVersion" value="8" />
    <add key="DriverToUse" value="InternetExplorer" />
    
    
    <add key="BrowserStackUser" value="pravin127" />
    <add key="BrowserStackKey" value="MyLMXLoGuaUJAWMHyPap" />
    
    <add key="TargetUrl" value="https://docworksfrontendqa.azurewebsites.net/login" />
    <add key="UserName" value="services@unitydevlab.local" />
    <add key="password" value="p@ssw04d" />
    <!--<add key="TargetUrl" value="https://www.browserstack.com/automate/capabilities" />-->
    <add key="ImplicitlyWait" value="30" />
    <add key="PageLoadTimeout" value="60" />
 
    <add key="FcmEndPoint" value="https://docworksmastertempapistaging.azurewebsites.net" />
    
    <add key="ReportingServerIndicator" value="false" />
    <add key="mongoDbUrl" value="mongodb://192.168.1.186:27017" />
    <add key="serverUrl" value="http://192.168.1.186:1337" />
    

  </appSettings>
</configuration>
